<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FQDN 사용할 DAO의 클래스명을 풀 패키지 명으로 작성 -->
<mapper namespace="com.naver.sth.board.notice.NoticeMapper">
	<!--file   -->
	<insert id="fileCreate" parameterType="NoticeFileDTO">
		
		
		INSERT INTO TB_NOTICEFILE (FILE_NO,FILE_NAME,ORI_NAME,COMMENT_NO)
		VALUES (COM_NO.NEXTVAL,#{fileName},#{oriName},#{commentNo})
	
	
	
	</insert>
	<!-- file 끝  -->
	<sql id="search">
		WHERE 
		<choose>
			<when test="kind == 'v2'">
			 CONTENTS
			</when>
			<when test="kind == 'v3'">
			PROFESSOR_NO
			</when>
			<otherwise>TITLE</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</sql>
	
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(COMMENT_NO)FROM TB_NOTICE
		<include refid="search"></include>
	</select>
	
	
	<!-- 쿼리 태그를 넣는 곳 -->
	<!-- id는 DAO에서 사용할 매서드 명을 id로 작성 -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager">
 		
 		 SELECT * FROM 
			(SELECT ROWNUM R, T.* FROM 
				(SELECT *
				FROM TB_NOTICE
				<include refid="search"></include>
				ORDER BY COMMENT_NO DESC) 
				T)
		WHERE R BETWEEN #{first} AND #{last} 

	</select>
	<select id="detail" resultMap="detailResult" parameterType="NoticeDTO">
		SELECT *
		FROM TB_NOTICE tn
		LEFT JOIN TB_NOTICEFILE tnf USING (COMMENT_NO)
		WHERE COMMENT_NO =#{commentNo}
	</select>
	<resultMap type="NoticeDTO" id="detailResult">
		<!-- 프라이머리 키 넣기 -->
		<id column="COMMENT_NO" property="commentNo"/>
		<!-- 그외 나머지 -->
		<result column="TITLE" property="title" />
		<result column="PROFESSOR_NO" property="professorNo" />
		<result column="CONTENTS" property="contents" />
		<result column="TO_DATE" property="toDate" />
		<result column="VIEWS" property="views" />
		<!-- 1대n의 관계  -->
		<collection property="list" javaType="java.util.List" ofType="NoticeFileDTO">
			<id column="FILE_NO" property="fileNo"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
			
		</collection>
		<!-- 1:1 -->
		<!-- <association property="setter의 이름" javaType="">
			<id/>
			<result/>
		</association> -->
		
	</resultMap>
	
	<insert id="create" parameterType="NoticeDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="commentNo">
			SELECT COM_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO TB_NOTICE
		VALUES (#{commentNo},#{title},#{contents},sysdate,0,#{professorNo})
	</insert>
	<update id="update" parameterType="NoticeDTO">
		UPDATE TB_NOTICE
		SET
		TITLE=#{title}, COUNTENTS=#{contents}
		WHERE COMMENT_NO=#{commentNo}
	</update>
	<delete id="delete" parameterType="NoticeDTO">
		SELECT *
		FROM TB_NOTICE tn
		LEFT JOIN TB_NOTICEFILE tnf USING (COMMENT_NO)
		WHERE COMMENT_NO =#{commentNo};
	</delete>



</mapper>