<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- FQDN 사용할 DAO의 클래스명을 풀 패키지 명으로 작성 -->
  <mapper namespace="com.naver.sth.departments.DepartmentDAO" >
 	<!-- 쿼리 태그를 넣는 곳  -->
 	<!-- id는 DAO에서 사용할 매서드 명을 id로 작성 -->
 	<!--  컬럼 명과 resulttype 의 빈의 세터의 이름이 같은걸 찾아서 대입 -->
 	<select id="list" resultType="com.naver.sth.departments.DepartmentDTO">
 		SELECT *
 		FROM TB_DEPARTMENT
 	</select>
 	<select id="detail" parameterType="java.lang.String" resultType="com.naver.sth.departments.DepartmentDTO">
 		SELECT *
		FROM TB_DEPARTMENT
		WHERE DEPARTMENT_NO =#{num} 
 	</select>
 	<insert id="create" parameterType="com.naver.sth.departments.DepartmentDTO">
 		INSERT INTO TB_DEPARTMENT 
 		VALUES (#{departmentNo},#{departmentName},
 				#{category},#{openYn},#{capacity})
 	</insert>
 	<delete id="delete" parameterType="com.naver.sth.departments.DepartmentDTO">
 		DELETE TB_DEPARTMENT
 		WHERE DEPARTMENT_NO=#{departmentNo}
 	</delete>
 	<update id="update" parameterType="com.naver.sth.departments.DepartmentDTO">
 		UPDATE TB_DEPARTMENT 
 		SET DEPARTMENT_NAME=#{departmentName},
 		CATEGORY=#{category},
 		OPEN_YN=#{openYn},
 		CAPACITY=#{capacity}
 		WHERE DEPARTMENT_NO=#{departmentNo}
 	
 	</update>
 	
 	
  </mapper>